/* Include in css file first line Google Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
/***************/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}
/* Include in body Google font */
body {
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 60px;
    margin-top: 80px;
}
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
/********************/

/* Own css styles */
/* Lesson 4 */

.imageThumbnail {
    height: 150px;
    max-width: 150px;
}

.cardBoxShadow {
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
}

.cardHeaderStyle {
    background: rgba(162,204,108,1);
    background: -moz-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 50%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(162,204,108,1)), color-stop(50%, rgba(146,184,97,1)), color-stop(51%, rgba(132,176,74,1)), color-stop(71%, rgba(102,153,35,1)), color-stop(100%, rgba(67,107,15,1)));
    background: -webkit-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 50%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: -o-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 50%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: -ms-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 50%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: linear-gradient(to right, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 50%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    border-radius: 45px 0 0 0 !important;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.card {
    border-radius: 45px 0 45px 0;
}

.buttonShadow {
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.card {
    border-radius: 45px 0 45px 0;
}

.card-body {
    border-radius: 0 0 45px 0;
}

.buttonShadow {
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.menuBg {
    background: rgba(162,204,108,1);
    background: -moz-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 31%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(162,204,108,1)), color-stop(31%, rgba(146,184,97,1)), color-stop(51%, rgba(132,176,74,1)), color-stop(71%, rgba(102,153,35,1)), color-stop(100%, rgba(67,107,15,1)));
    background: -webkit-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 31%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: -o-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 31%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: -ms-linear-gradient(left, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 31%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    background: linear-gradient(to right, rgba(162,204,108,1) 0%, rgba(146,184,97,1) 31%, rgba(132,176,74,1) 51%, rgba(102,153,35,1) 71%, rgba(67,107,15,1) 100%);
    color: #fff;
}

.containerBorderedRenderBody {
    border-right: 5px solid #dee2e6;
    border-left: 5px solid #dee2e6;
}

.cardTextLeftFloating{
    text-align: left;
    text-transform: uppercase;
    padding-left: 20px;
}
.image-lay {
    background-image: url(../images/index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/******************/